body {
    font-family: 'Bitter', serif !important;
    background-color: #ccddff;
}

.navbar {
    border-bottom: 2px solid gray !important;
}

.navbar-color {
    background-color: lightgoldenrodyellow;
}

* {
    box-sizing: border-box;
} 

.nav button {
    background-color: white; /* #222;*/
    border: none;
    color: gray;
    font-family: 'Bitter', serif;
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 17.5px 20px;
}

/* pseudo-icon for initials in top left: "TH" */
#initials {
    font-family: 'Metamorphous', cursive;
    margin-left: -5px;
    font-size: 24px;
}

h1 {
    text-align: center;
}

.first-slide {
    margin-top: 50px;
    color: white;
}

.third-slide {
    background-color: black;
    color: white;
}

.fourth-slide {
    background-color: white !important;
}

/* Set GitHub image size */
#github-img{
    width: 75px;
    height: 75px;
}

/* Set LinkedIn image size */
#linkedin-img{
    width: 50px;
    height: 50px;
}

/* Set E-mail image size & make image appear higher to align with other images */
#mail-img{
    margin-top: -20px;
    width: 80px;
    height: 90px;
}

address{
    display: inline-block;
}

/* Align contact info. images at bottom to center */
.img-container{
    width: 60vw;
    margin: 0px auto;
    text-align: center;
}

/* Contact Me text displays in line with GitHub, LinkedIn, & Mail images */
.img-container p{
    display: inline-block;
}